body {
    background-color: lightgray;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px groove;
    border-radius: 15px;
}
.button {
    width: 100%;
}
.nav-logout {
    color: darkred;
    text-decoration: none;
}

.alert-success {
    color: white;
    background-color: green;
}
.alert-error {
    color: white;
    background-color: red;
}
.alert-info {
    color: white;
    background-color: blue;
}
.alert-danger {
    color: white;
    background-color: orange;
}
